%p#notice= notice

%b Title:
= @board.title
= @board.turn
%br
.board
  .grid
    - (1..18).each do |y|
      .gridrow
        - (1..18).each do |p|
          .gridpeice &nbsp;

  - (1..19).each do |y|
    .row
      - @board.peices.select {|r| r.y == y}.each do |p|
        .peice
          - if not p.colour
            .empty{:color => @board.turn}= link_to raw("&nbsp;"), board_peice_path(@board, p, :colour => @board.turn), :method => :put
          - else
            %div{:class => p.colour}

= link_to 'Edit', edit_board_path(@board) |
= link_to 'Back', boards_path
